server:
  port: 8010
  
spring:
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://localhost:3306/product
    username: root
    password: root 
  ## Hibernate
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  ## Put, Delete Method enable
  mvc:
    hiddenmethod:
      filter:
        enabled: true

logging:
  level:
    org.hibernate.type: trace
    com.rara.toy1.product: debug        